/* 
 * @scoped: wk-gcb-BottomOperation
 */
.wk-gcb-BottomOperation {
  /* 分享有礼 */
  .share-gift {
    width: 111px;
    height: 48px;
    background: #f3f3f3;
    border-radius: 20px;
    color: #a2a2a4;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
